*{
	margin: 0;
	padding: 0;
}
#canvas1{
	border: 1px solid #333;
	position: absolute;
	left: 50%;
	margin-left: -192px;
}
#reset,#start{
	width: 203px;
	height: 71px;
	position: absolute;
	left: 64%;
	margin-left: -42%;
	top: 320px;
	cursor: pointer;
	display: none;
}
#start{
	display: block;
	top: 266px;
	background: #fff;
}
.box{
	width: 50%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}